<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.network.adminneyvelimart">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />
    <meta-data
        android:name="pro.farmerShepherd.diary.app.MyAppGlideModule"
        android:value="GlideModule" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="pro.network.adminneyvelimart.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/neyvelimart"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/neyvelimart"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="pro.network.adminneyvelimart.StartActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppThemeNowhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pro.network.adminneyvelimart.NaviActivity"
            android:label="@string/app_name" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBufZZ6hR1jYcnwqXg2egbpvCU8Vbd2UU0" />

        <activity
            android:name="pro.network.adminneyvelimart.news.NewsRegister"
            android:label="News"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.adminneyvelimart.product.MainActivityProduct"
            android:label="@string/app_name"
            android:theme="@style/AppThemewhite"
            android:exported="true">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name="pro.network.adminneyvelimart.banner.MainActivityBanner"
            android:label="@string/app_name"
            android:theme="@style/AppThemeSe.NoActionBar"
            android:exported="true">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name="pro.network.adminneyvelimart.order.MainActivityOrder"
            android:label="@string/app_name"
            android:theme="@style/AppThemewhite"
            android:exported="true">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity
            android:name=".wallet.WalletActivity"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name=".coupon.MainActivityCoupon"
            android:label="MainActivityCoupon"
            android:theme="@style/AppThemeSe.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Setting"
            android:theme="@style/AppThemewhite" />
        <activity
            android:name=".coupon.CouponRegister"
            android:label="Coupon Register"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".user.MainActivityUsers"
            android:label="Coupon Register"
            android:theme="@style/AppThemeWhiteNo" />
        <activity
            android:name="pro.network.adminneyvelimart.banner.BannerRegister"
            android:label="Banner Upload"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.adminneyvelimart.product.ProductUpdate"
            android:label="Stock Register"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.adminneyvelimart.categories.CategoriesRegister"
            android:label="categories Register"
            android:theme="@style/AppThemeWhite" />
        <activity android:name="pro.network.adminneyvelimart.app.ActivityMediaOnline" />

        <activity
            android:name="pro.network.adminneyvelimart.categories.MainActivityCategories"
            android:label="categories Main"
            android:theme="@style/AppThemeSe.NoActionBar" />
        <activity
            android:name="pro.network.adminneyvelimart.order.Order_TimelineActivity"
            android:label="Track Order"
            android:theme="@style/AppThemewhite" />
        <activity
            android:name="pro.network.adminneyvelimart.deliveryboy.CreateDeliveryBoy"
            android:label="Create Delivery Boy"
            android:theme="@style/AppThemewhite" />
        <activity
            android:name="pro.network.adminneyvelimart.deliveryboy.MainActivityDelivery"
            android:label="Delivery"
            android:theme="@style/AppThemewhite" />
        <activity
            android:name="pro.network.adminneyvelimart.videos.MainActivityVideo"
            android:label="Videos"
            android:theme="@style/AppThemewhite" />
        <activity
            android:name="pro.network.adminneyvelimart.shopreg.ShopRegister"
            android:label="Shop Register"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.adminneyvelimart.shopreg.ShopUpdate"
            android:label="Shop Update"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name="pro.network.adminneyvelimart.shopreg.MainActivityShop"
            android:label="Shop Register"
            android:theme="@style/AppThemeSe.NoActionBar" />

        <service
            android:name="pro.network.adminneyvelimart.app.FirebaseMessageReceiver"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="pro.network.adminneyvelimart.app.GenericFileProvider"
            android:authorities="pro.network.adminneyvelimart.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>